*.la
*.lo
*.o
*.swp
*~
.deps
.libs
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
examples/cpp-test
examples/enroll
examples/img_capture
examples/img_capture_continuous
examples/verify
examples/verify_live
install-sh
libfprint.pc
libfprint/60-fprint-autosuspend.rules
libfprint/fprint-list-udev-rules
libtool
ltmain.sh
m4
missing
stamp-h1
